body{
    margin:0
}
a{
    color:pink;
    text-decoration:none;
}
h1{
    font-size:50px;
    text-align:center;
    border-bottom:3px solid gray;
    margin:0;
    padding:20px;
}
ol{
    color:pink;
    border-right:3px solid gray;
    margin:0;
    padding-top:20px;
}
#grid{
    display:grid;
    grid-template-columns:170px 1fr;
}
#grid ol{
    padding-left:35px;
}
#grid #article{
    padding-left:20px;
    color: rgb(163, 194, 248);
}


